/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 950px) {
  #hero-logo img{
    width: 70%;
    height: 70%;
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #hero-logo img{
    width: 40%;
    height: 40%;
    margin: 0 auto;
  }
}

@media only screen and (max-device-width : 320px) {
  #hero-logo img{
    width: 30%;
    height: 30%;
    padding-top: 50%;
    margin: 0 auto;
  }
  .enter-action a, .enter-action span, .enter-action i {
    font-size: 50%;
    color: #ffdab9;
  }
  p {
    font-size: 50%;
    text-align: center;
  }
/*----------------Navigation bar--------------*/
  .wrapper-container{
    width: 320px;
  }
  #intro, #intro-container {
    width: 100%;
    padding: 10px 0;
    flex-wrap: none;
    justify-content: none;
    margin: 0 auto;
    float: none;
  }
  #pic-container {
    width: 100%;
  }
/*----------------Content Clock --------------*/

  .content {
    width: 100%;
  }
  .wrapper {
    width: 310px;
    margin: 0;
    padding: 0;
  }
  .wrapper-center, #section-heading, #section-heading h5, #section-heading div{
    font-size: 50%;
  }
  #clock-div{
    width: 50%;
    float: none;
    margin: 0 auto;
    text-align: center;
  }
  #clock-div div > span{
    padding: 5px;
    float: left;
  }
  .time-text {
    font-size: 10px;
  }

/*----------------Intro Detail section --------------*/
  .title h3 {
    font-size: 200%;
  }
  .title img{
    width: 50px;
    height: 50px;
  }
  .col-sm-6 img{
    width: 90%;
  }
  .intro-text-container{
    background-size: 320px;
    padding: 0;
    margin: 0;
  }
  .loan-photo, .daniel-photo{
    height: 325px;
    width: 315px;
    background-size: 315px 325px;
  }
  .grid-container {
    display: block;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: #f6f4f2;
    padding: 5px;
  }
/*----------------Event detail---------------*/
#center-icon img{
  height: 30px;
  width: 30px;
  margin-left: 15px;
  margin-top: 15px;
}
#ceremony-detail, #party-detail{
  padding: 5px 5px 5px 5px;
}
/*----------------Form section --------------*/ 
.title-RSVP{
  font-size: 150%;
}
  #formBlock {
    width: 100%;
  }
  span input{
    width: 115px;
  }
  #lastname, #firstname {
    width: 95%;
  }
  .contact-form{
    font-size: 10px;
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
  }
  textarea{
    width: 115px;
    height: 115px;
    display:block;  
    float: left; 
  }
  .btn-submit, .reset{
    font-size: 10px;
    line-height: 10px;
    max-width: 150px;
    border-radius: 2px;
    padding: 5px 20px;
    margin-top: 5px;
  }
  .footer-copyright{
    width: 100%;
  }
  .footer-copyright a{
    font-size: 50%;
    text-align: center;
  }
}

/*-------------------------------------------------Iphone 6/7/8---------------------------------------------*/

@media only screen and (min-device-width : 320px) and (max-device-width : 375px) {
  #hero-logo img{
    padding-top: 98px;
    width: 60%;
    height: 60%;
    margin: 0 auto;
  }
/*------------Content Clock --------------*/
#pic-container{
  display: block;
}
  .wrapper-container{
    width: 375px;
  }
  #intro, #intro-container {
    width: 100%;
    padding: 10px 0;
    flex-wrap: none;
    justify-content: none;
    margin: 0 auto;
    float: none;
  } 
.content-detail {
  vertical-align: middle;
}
  .content {
    width: 100%;
  }
  .wrapper {
    width: 375px;
    margin: 0;
    padding: 0;
  }
  .wrapper-center, #section-heading, #section-heading h5, #section-heading div{
    font-size: 50%;
  }
  #clock-div{
    width: 50%;
    float: none;
    margin: 0 auto;
    text-align: center;
  }
  #clock-div div > span{
    padding: 5px;
    float: left;
  }
  .time-text {
    font-size: 10px;
  }

/*----------------Intro Detail section --------------*/
  .title h3 {
    font-size: 200%;
  }
  .title img{
    width: 50px;
    height: 50px;
  }
  .col-sm-6 img{
    width: 90%;
  }
  .intro-text-container{
    background-size: 375px;
    padding: 0;
    margin: 0;
  }
  .loan-photo, .daniel-photo{
    height: 365px;
    width: 365px;
    background-size: 365px 365px;
  }
  .grid-container {
    display: block;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: #f6f4f2;
    padding: 5px;
  }
/*----------------Event detail---------------*/
#center-icon img{
  height: 30px;
  width: 30px;
  margin-left: 15px;
  margin-top: 15px;
}
#ceremony-detail, #party-detail{
  padding: 3px 3px 3px 3px;
}
#ceremony-detail, #party-detail{
  font-size: 12px;
}
/*----------------Form section --------------*/ 
.title-RSVP{
  font-size: 150%;
}
  #formBlock {
    width: 100%;
  }
  span input{
    width: 115px;
  }
  #lastname, #firstname {
    width: 95%;
  }
  .contact-form{
    font-size: 10px;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
  }
  textarea{
    width: 215px;
    height: 100px;
    display:block;  
    float: left; 
  }
  .btn-submit, .reset{
    font-size: 10px;
    line-height: 10px;
    max-width: 150px;
    border-radius: 2px;
    padding: 5px 20px;
    margin-top: 5px;
  }
  .footer-copyright{
    width: 100%;
  }
  .footer-copyright a{
    font-size: 50%;
    text-align: center;
  }
}